*{
    margin:0px;
    padding:0px;
}

body{
    background-color: cornflowerblue;
}

h1{
	font-size:30px;
	padding: 15px;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

h3{
    font-style: italic;
    font-size: 25px;
}

p{
    font-style: oblique;
    font-size: large;
    line-height: 1.5;
}

#advance{
    height: 600px;
    width: 650px;
    float: right;
    margin-top: 30px;
}

.heading{
	background-color:#d2cdcd;
	height:55px;
	text-align:center;
  font-family: "Impact, Charcoal, sans-serif";	
}

.dropdown1{
    position: relative;
    display: inline-block;
}

.btn-group button {
    background-color: rgb(56, 53, 53); /* Green background */
    /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 300px; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 5px;
}

#btn1{margin-top: 230px;}

.drop-content{
    margin-top: 20px;
}

#drop-content a{
    display: block;
    font-size: large;
    background: #dfdfdf;
    color: #000;
    text-decoration: none;
    padding: 10px 36px;
    margin-top: 2px;
}

.drops{
    background-color: #282b28;
    padding:30px;
    margin-top: -300px;
    margin-left: 510px;
    color:white;
    text-align: center;
    border-style: dashed;
    border-radius: 10px;
    width:280px;
}

table, th, td {
    border: 1px solid gainsboro;
    padding: 5px;
    font-style: oblique;
  }