*{
	margin:0;
	padding:0;
}

body{
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;
	background-position: center;
}

.heading{
	background-color:#d2cdcd;
	height:55px;
	text-align:center;
    font-family: "Impact, Charcoal, sans-serif";	
}

h1{
	font-size:30px;
	padding: 12px;
}

.entry-box{
	background-color: #9c9d80;
	border: 5px solid grey;
	margin: auto;
	margin-top:200px;
	width: 600px;
	text-align:center;
	padding: 10px;
	border-radius: 50px;
}

.proceed{
	background-color: #9c9d80;
	border: 5px solid grey;
	margin-left:500px;
	margin-top:200px;
	width: 600px;
	text-align:center;
	padding: 10px;
	border-radius: 20px;
	height:400px;
}

.proceedbtn{
	width:100px;
	padding:7px;
}

.register{
	background-color: #9c9d80;
	border: 5px solid grey;
	margin-left:500px;
	margin-top:200px;
	width: 600px;
	text-align:center;
	padding: 10px;
	border-radius: 20px;
	height:400px;
}

.proceedbtn2{
	width:150px;
	padding:7px;
}